{% extends 'admin_nav.html' %}
{% block body %}
{% load static %}
<div class="container">
    <h2 style="margin-top:20px" align="center">Edit Food</h2><hr>

<div class="container-fluid" style="width:70%;margin-top:10%">
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputEmail4">Food Name</label>
      <input type="text" class="form-control" name="pname" value="{{pro.food_name}}" id="inputEmail4">
    </div></div>
    <div class="form-row">
    <div class="form-group col-md-6">
    <label for="exampleInputPassword1">Food Image</label>
    <input type="file" class="form-control" id="exampleInputPassword1" name="img" value="choose file">
</div>
        <div class="form-group col-md-6">
    <img src="{{pro.image.url}}" style="width:100px;height:120px">
</div>

    </div>
<div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Food Price</label>
      <input type="number" class="form-control" name="price" value="{{pro.price}}" id="inputEmail4">
    </div>

    <div class="form-group col-md-6">
      <label for="inputEmail4">Title</label>
      <input type="text" class="form-control" name="title" value="{{pro.title}}" id="inputEmail4">
    </div>
</div>
    <div class="form-group">
    <label for="inputEmail4">Description</label>
      <input type="text" class="form-control" name="detail" style="height:95px" value="{{pro.food_detail}}" id="inputEmail4">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>

{% if error %}
<script>
    alert('1 Food Updated Successfully');
</script>
{% endif %}
{% endblock %}