{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<div class="container">
    <h2 style="font-weight:bold;font-family : 'Monotype Corsiva' ; color : #E6120E ;margin-top:10%" align="center">Edit Profile</h2><hr>

<div class="container-fluid" style="">
    <div class="row">
        <div class="col-md-6">
            <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">First Name</label>
      <input type="text" class="form-control" value="{{pro.user.first_name}}" name="fname" id="inputEmail4">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Last Name</label>
      <input type="text" class="form-control" name="lname" value="{{pro.user.last_name}}" id="inputPassword4">
    </div>
  </div>
    <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputEmail4">Email Address</label>
      <input type="text" class="form-control" name="uname" value="{{pro.user.username}}" id="inputEmail4" readonly>
    </div>
  </div>

 <div class="form-row">
    <div class="form-group col-md-12">
    <label for="exampleInputPassword1">Contact</label>
    <input type="text" class="form-control" id="exampleInputPassword1" value="{{pro.contact}}" name="contact">
  </div>
        </div>

  <button type="submit" class="btn btn-primary" style="margin-bottom:5%">update</button>
</form>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/tiffin11.jpg' %}" style="width:90%">
        </div>
    </div>

</div>
</div>

{% if error %}
<script>
    alert('Update Successfully');
    window.location = "{% url 'profile' %}";
</script>
{% endif %}

{% endblock %}