{% extends 'navigation.html' %}
{% load static %}
{% block body %}

<style>
.mybtnone:hover{background-color : #800000;
color : #429E00 ; font-weight : bold
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
</style>

<div class="container-fluid">
      <center><h2 style = "font-weight:bold;font-family : 'Monotype Corsiva' ; color : #E6120E ;margin-top:6%">View Available Food</h2></center>
<hr>
 <div class="container-fluid" style="margin-bottom:3%">
	 <div class="row">
			{% for j in pro %}

		 <div class="col-md-3 prjdiv" style="border-radius:6px;width:25%;margin-top:1%">
			 <a href="{% url 'booking_order' j.id %}">
			 <div class="container">
					<img class="zoom" align="center" src="{{j.image.url}}" style="width:220px;height:250px" alt="card-img">
						<p class="card-title" style="color:black;font-weight:bold">{{j.title}} : ${{j.price}}</p>
		 </div></a>
			 </div>
			{% endfor %}
		</div>
	</div>
 </div>

      </div>
{% endblock %}