{% extends 'admin_nav.html' %}
{% block body %}

<center><h2 style = "font-family : 'Monotype Corsiva' ; color : #E6120E ; font-weight : bold;margin-top:2%">View Available Food</h2></center><hr>
<div class="container" style="margin-top:5%">
</div>
 <div class="container">
<table class="table table-bordered" id="myTable">
  <thead>
  <tr>
    <th>Sr. No</th>
    <th>Food Image</th>
    <th>Food Name</th>
    <th>Title</th>
    <th>Food detail</th>
    <th>Price</th>
    <th style="width:150px">Action</th>
  </tr>
  </thead>
   <tbody>

{% for i in pro %}
  <tr>
      <td>{{forloop.counter}}</td>
    <td><img src="{{i.image.url}}" style="width:80px;height:90px"></td>
    <td>{{i.food_name}}</td>
    <td>{{i.title}}</td>
    <td>{{i.food_detail}}</td>
    <td>{{i.price}}</td>
      <td><a href="{% url 'edit_food' i.id %}"><button class="button button1" id="#delete">Edit</button></a>
      <a href="{% url 'delete_food' i.id %}"><button class="button button1" onclick="return confirm('Are you sure?')">Delete</button></a></td>
  </tr>
   {% endfor %}

    </tbody>
</table>

 </div>

<script>
            var el_up = document.getElementById("GFG_UP");

            el_up.innerHTML =
                "Click on the LINK for further confirmation.";
</script>
{% endblock %}
